#up-div {
	background-color: #0cb8f1;
    background-image: url(../images/top_menu_bg.png); 
	background-position: top left;
    background-repeat: repeat-x;
   }
   
   #up-logo {
	padding: 5px;

  width: 1000px;
  left: 350px;
  position: relative;
  background: #FFFFFF;
  text-align: left;
   }
   
   #nav_all {
	padding: 5px;
  height: 70px;
  width: 1000px;
  left: 350px;
  position: relative;
  background: #FFFFFF;
  text-align: left;
   }
   
      #nav_in {
	padding: 5px;
  height: 50px;
  width: 970px;
  left: 10px;
  position: relative;
  background: #F8F8F8;
  text-align: left;
  border: 1px solid #E7E7E7
   }
   
     #main {
	padding: 5px;
  height: 600px;
  width: 1000px;
  left: 350px;
  position: relative;
  background: #FFFFFF;
  text-align: left;
   }

        #footer {
	padding: 5px;
  height: 70px;
  width: 1000px;
  left: 350px;
  position: relative;
  background: #FFFFFF;
  text-align: left;
   }
   
body {
    background-image: url(../images/bg.jpg);
   }
