#up-div {
	background-color: #0cb8f1;
    background-image: url(../images/top_menu_bg.png); 
	background-position: top left;
    background-repeat: repeat-x;
   }
   
   #up-logo {
	background-color: white;
   }

body {
    background-image: url(../images/bg.jpg);
   }
