*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    background-image: url(../images/bg.jpg);
}

    .div_strip
    {
        width: 100%;
        padding-left: 20px;
        color: white;
        background-color: #0cb8f1;
    }

    .div_logo
    {
        margin: 0 20% 0 20%;
        margin-bottom: 0;
        background: #fff;
    }
        .img_logo
        {
            max-width: 90%;
            display: block;
            height: auto;
            padding: 10px;
        }

main
{
    margin: 0 20% 0 20%;
    padding: 10px;
    background: #fff;
}

    .footer
    {
        margin: 0 20% 0 20%;
        background: #fff;
    }

@media screen and (max-width: 700px){
    .div_strip
    {
        font-size: 80%;
    }
    .div_logo
    {
        margin: 0 15% 0 15%; 
    }
    .main
    {
        font-size: 70%;
        margin: 0 15% 0 15%;
    }
    .footer
    {
        font-size: 70%;
        margin: 0 15% 0 15%; 
    }
}

@media screen and (max-width: 500px){
    .div_strip
    {
        font-size: 70%;
    }
    .div_logo
    {
        margin: 0 10% 0 10%; 
    }
    .main
    {
        font-size: 60%;
        margin: 0 10% 0 10%;
    }
    .footer
    {
        font-size: 60%;
        margin: 0 10% 0 10%; 
    }
}
