* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/bg.jpg);
}

.logo {
  background-color: #0cb8f1;
  color: white;
  width: 100%;
  padding-left: 20px;
}

.up_logo {
  background: #FFFFFF;
  margin: 0 20% 0 20%;
  width: 60%;
}
.up_logo_img {
  margin: 5px 0 5px 0;
  width: 30%;
}

.divnav{
  background-color: #FFFFFF;
  margin: 0 20% 0 20%;
  width: 60%;
}

nav{
  padding: 14px;
}  
.topnav{
  background-color: #F8F8F8;
  font-size: 14px;
  border: 1px solid #E7E7E7;
}
.topnav a{
  color: #000;
  text-align: center;
  padding: 1px 14px;
  font-size: 25px;
}
.topnav a:hover{
  background-color: #0CB9F1;
  color: white;
}
   
.main {
  margin: 0 20% 0 20%;
  width: 60%;
  background: #FFFFFF;
}
.main h1{
  padding: 14px;
}

.map{
  margin: 5px 0 5px 0;
  width: 50%;
}

.car{
    width: 15%;
    position: fixed;
    bottom: 1%;
    left: 1%;
}
.car {
  animation-name: go;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}
@keyframes go {
  0% {
    left: 1%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

.footer {
  background: #FFFFFF;
  margin: 0 20% 0 20%;
}