*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    background-image: url(../images/bg.jpg);
}

    .div_strip
    {
        width: 99%;
        padding-left: 20px;
        color: white;
        background-color: #0cb8f1;
    }

    .div_logo
    {
        margin: 0 20% 0 20%;
        margin-bottom: 0;
        background: #fff;
    }
        .img_logo
        {
            max-width: 90%;
            display: block;
            height: auto;
            padding: 10px;
        }

    .main
    {
        margin: 0 20% 0 20%;
        margin-bottom: 0;
        background: #fff;
    }
        .tabl
        {
            font-size: 26px;
            display: none;
            width: auto;
            padding: 10px;

        }
        .tabl a:hover
        {
            color: red;
            background-color: #0cb9f1;

        }
        caption
        {
            color: red;
        }
            th, td
            {
                border: 1px solid orange;
                padding: 10px;
                background-color: rgba(0, 170, 238, 0.1);
                color: #008080;
            }

        .error_pass
        {
            display: none;
            text-align: center;
            padding: 5px;
            color: red;
        }

        .footer
        {
            margin: 0 20% 0 20%;
            background: #fff;
        }

@media screen and (max-width: 979px)
{
    .div_strip
    {
        font-size: 90%;
    }
    .error_pass
    {
        font-size: 80%;
    }
    .footer
    {
        font-size: 90%;
    }
}

@media screen and (max-width: 767px)
{
    .div_strip
    {
        font-size: 80%;
    }
    .div_logo
    {
        margin: 0 10% 0 10%; 
    }
    .main
    {
        margin: 0 10% 0 10%;
    }
    .error_pass
    {
        margin: 0 10% 0 10%;
        font-size: 65%;
    }
    .footer
    {
        font-size: 80%;
        margin: 0 10% 0 10%; 
    }
}

@media screen and (max-width: 480px)
{
    .div_strip
    {
        font-size: 70%;
    }
    .div_logo
    {
        margin: 0 5% 0 5%; 
    }
    .main
    {
        margin: 0 5% 0 5%;
    }
    .tabl
    {
        font-size: 90%;
    }
    table
    {
        text-align: center;
    }
        th, td
        {
            padding: 5px;
        }
    .error_pass
    {
        text-align: center;
        margin: 0 5% 0 5%;
        font-size: 50%;
    }
    .footer
    {
        font-size: 70%;
        margin: 0 5% 0 5%; 
    }

}
