*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    background-image: url(../images/bg.jpg);
}

    .div_strip
    {
        width: 99%;
        padding-left: 20px;
        color: white;
        background-color: #0cb8f1;
    }

    .div_logo
    {
        margin: 0 20% 0 20%;
        margin-bottom: 0;
        background: #fff;
    }
        .img_logo
        {
            max-width: 90%;
            display: block;
            height: auto;
            padding: 10px;
        }

    .div_nav
    {
        margin: 0 20% 0 20%;
        background-color: #fff;
    }
        nav
        {
            padding: 14px;
        }
            .a_nav
            {
                font-size: 14px;
                border: 1px solid #e7e7e7;
                background-color: #f8f8f8;
            }
                .a_nav a
                {
                    font-size: 25px;
                    padding: 1px 14px;
                    text-align: center;
                    color: #000;
                }
                .a_nav a:hover
                {
                    color: white;
                    background-color: #0cb9f1;
                }

    .main
    {
        margin: 0 20% 0 20%;
        margin-bottom: 0;
        background: #fff;
    }
        .main h1, h2
        {
            padding: 14px;
        }
        .news
            {
                animation-name: go_news;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }
            @keyframes go_news
            {
                0%
                {
                    color: red;
                }
                50%
                {
                    color: white;
                }
                100%
                {
                    color: red;
                }
                }  
        .img_polesie
        {
            max-width: 90%;
            display: block;
            height: auto;
            padding: 10px;
        }
        .img_car
        {
            position: fixed;
            bottom: 1%;
            left: 1%;
            max-width: 20%;
            display: block;
            height: auto;
        }
            .img_car
            {
                animation-name: go_car;
                animation-duration: 20s;
                animation-fill-mode: forwards;
            }
            @keyframes go_car
            {
                0%
                {
                    left: 1%;
                }
                50%
                {
                    left: 50%;
                }
                100%
                {
                    left: 100%;
                }
                }  

    .footer
    {
        margin: 0 20% 0 20%;
        background: #fff;
    }

@media screen and (max-width: 979px)
{
    .div_strip
    {
        font-size: 90%;
    }
    .a_nav a
    {
        font-size: 150%;
    }
    .main
    {
        font-size: 80%;
    }
    .footer
    {
        font-size: 90%;
    }
}

@media screen and (max-width: 767px)
{
    .div_strip
    {
        font-size: 80%;
    }
    .div_logo
    {
        margin: 0 10% 0 10%; 
    }
    .div_nav
    {
        margin: 0 10% 0 10%; 
    }
    .a_nav
    {
        text-align: center;
    }
    .a_nav a
    {
        font-size: 150%;
    }
    .main
    {
        font-size: 70%;
        margin: 0 10% 0 10%;
    }
    .footer
    {
        font-size: 80%;
        margin: 0 10% 0 10%; 
    }
}    

@media screen and (max-width: 480px)
{
    .div_strip
    {
        font-size: 70%;
    }
    .div_logo
    {
        margin: 0 5% 0 5%; 
    }
    .div_nav
    {
        margin: 0 5% 0 5%; 
    }
    .a_nav
    {
        text-align: center;
    }
    .a_nav a
    {
        font-size: 140%;
    }
    .main
    {
        font-size: 60%;
        margin: 0 5% 0 5%;
    }
    .footer
    {
        font-size: 70%;
        margin: 0 5% 0 5%; 
    }
}