*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

li{
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/bg.jpg);
}

.logo{
  background-color: #0cb8f1;
  color: white;
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: left;
  box-sizing: border-box;
}

.divnav{
  background-color: white;
  margin: auto;
  width: 800px;
  height: 50px;
}

nav{
  padding: 14px;

}

.topnav{
  background-color: #F8F8F8;
  font-size: 14px;
  border: 1px solid #E7E7E7;
}

.topnav a{
  color: #000;
  text-align: center;
  padding: 1px 14px;
  font-size: 25px;
}
.topnav a:hover{
  background-color: #0CB9F1;
  color: white;
}

.topnav .icon{
  display: none;
}
   
#up-logo {
  margin: auto;
  width: 800px;
  height: 100px;
  background: #FFFFFF;
  text-align: left;
   }   
   
main {
  margin: auto;
  width: 800px;
  height: 600px;
  background: #FFFFFF;
  text-align: left;
   }

h1 {
  padding: 14px;
}

footer {
  margin: auto;
  width: 800px;
  height: 50px;
  position: relative;
  background: #FFFFFF;
  text-align: left;  
}